{% load menu_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}{% block title_prefix %}Aquiles Carattino | {% endblock %}{% if self.seo_title %}
    {{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body class="h-24 bg-gradient-to-r from-orange-400 via-red-500 to-pink-500 max-w-screen-lg mx-auto text-black">
<main class="flex flex-col mx-auto mb-20 pt-10 lg:pt-24 px-5">
  <div class="h-24 bg-gradient-to-r from-orange-400 via-red-500 to-pink-500">Scientists, Entrepreneur</div>
  <div class="md:ml-10 font-serif text-gray-800 text-4xl font-extrabold">Aquiles <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-scooter-400 to-blue-ribbon-500 font-bold">Carattino</span></div>
  <div class="mt-5">{{ page.body }}</div>
</main>
</body>
</html>
